[DEFAULT]
dhcpbridge_flagfile=/etc/nova/nova.conf
dhcpbridge=/usr/bin/nova-dhcpbridge
logdir=/var/log/nova
state_path=/var/lib/nova
lock_path=/var/lock/nova
force_dhcp_release=True
iscsi_helper=tgtadm
libvirt_use_virtio_for_bridges=True
connection_type=libvirt
root_helper=sudo nova-rootwrap /etc/nova/rootwrap.conf
verbose={{isVerbose}}
ec2_private_dns_show_ip=True
api_paste_config=/etc/nova/api-paste.ini
volumes_path=/var/lib/nova/volumes
enabled_apis=ec2,osapi_compute,metadata
debug=True
log_dir=/var/log/nova
amqp_durable_queues=False
vncserver_proxyclient_address={{mgmtNetworkAddress}}
rabbit_hosts={{rabbitHostPort}}
notify_api_faults=False
resume_guests_state_on_host_boot=True
memcached_servers={{memcachedServerHostPort}}
rabbit_use_ssl=False
notification_driver=
block_device_allocate_retries_interval=3
glance_api_servers={{glanceApiServerHostPort}}
rabbit_userid=nova
rabbit_ha_queues=True
rabbit_password={{rabbitPassword}}
report_interval=60
vnc_enabled=True
rabbit_virtual_host=/
image_service=nova.image.glance.GlanceImageService
use_cow_images=True
notify_on_state_change=vm_and_task_state
instance_usage_audit=True
block_device_allocate_retries=300
novncproxy_base_url=http://{{controllerExternalAddress}}:6080/vnc_auto.html
service_down_time=180
syslog_log_facility=LOG_LOCAL6
vncserver_listen=0.0.0.0
notification_topics=notifications
instance_usage_audit_period=hour
auth_strategy=keystone
compute_driver=libvirt.LibvirtDriver
rootwrap_config=/etc/nova/rootwrap.conf
rpc_backend=nova.openstack.common.rpc.impl_kombu
use_syslog=False
cinder_catalog_info=volume:cinder:internalURL
use_syslog_rfc_format=True
allow_resize_to_same_host=True
linuxnet_interface_driver=nova.network.linux_net.LinuxOVSInterfaceDriver
network_device_mtu=65000
neutron_extension_sync_interval=600
network_api_class=nova.network.neutronv2.api.API
neutron_default_tenant_id=default
neutron_admin_auth_url=http://{{ctrlApiNetworkAddress}}:{{neutronAdminAuthUrlPort}}/v2.0
neutron_region_name={{neutronRegionName}}
security_group_api=neutron
linuxnet_ovs_integration_bridge={{integrationBridge}}
neutron_url_timeout=30
firewall_driver=nova.virt.firewall.NoopFirewallDriver
neutron_admin_password={{neutronAdminPassword}}
neutron_auth_strategy=keystone
neutron_ovs_bridge={{integrationBridge}}
vif_plugging_is_fatal=True
neutron_admin_tenant_name=services
neutron_url=http://{{ctrlApiNetworkAddress}}:{{neutronUrlPort}}
vif_plugging_timeout=300
neutron_admin_username=neutron
instances_path=/vm_snapshot
vcpu_pin_set=4-15

[database]
idle_timeout=3600
connection=mysql://nova:{{novaPassword}}@{{ctrlApiNetworkAddress}}/nova?read_timeout=60

[libvirt]
disk_cachemodes="file=directsync,block=none"
cpu_mode=host-passthrough
libvirt_inject_password=True
libvirt_inject_partition=-1
virt_type=kvm
libvirt_inject_key=True
inject_partition=1
live_migration_flag=VIR_MIGRATE_UNDEFINE_SOURCE,VIR_MIGRATE_PEER2PEER,VIR_MIGRATE_LIVE,VIR_MIGRATE_PERSIST_DEST
vif_driver=nova.virt.libvirt.vif.LibvirtGenericVIFDriver

[keymgr]
fixed_key={{fixedKey}}
