{{isVerbose}} 
{{isDebug}} 
{{host}} 
{{ntpServer}} 
{{controllerExternalAddress}} 
{{mgmtNetworkAddress}} 
{{ctrlMgmtNetworkAddress}} 
{{ctrlApiNetworkAddress}} 
{{rabbitHostPort}} 
{{memcachedServerHostPort}} 
{{glanceApiServerHostPort}} 
{{neutronAdminAuthUrlPort}} 
{{neutronRegionName}} 
{{neutronAdminPassword}} 
{{novaPassword}} 
{{fixedKey}} 
{{rabbitPassword}} 
{{neutronUrlPort}}
{{integrationBridge}}
{{serverPort}}
{{aosAppsPort}}
{{nidUser}}
{{serverUser}}
{{nidPassword}}
{{serverPassword}} 
{{vimVlan}}
{{vimTunnelPort}}
{{vimTunnelCIR}}
{{vimTunnelEIR}}
{{cpuCoreSetting}}

